<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de Carros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <!--Lista de carros do usuário-->
    <ion-row *ngIf="carros.length > 0">

      <ion-col>

        <ion-list>

          <ion-item *ngFor="let carro of carros" (click)="visualizarCarro(carro.id);">
            {{ carro.modelo }} - {{ carro.montadora }}
          </ion-item> 

        </ion-list>

      </ion-col>
   
    </ion-row> 

    <!--Botão para criar um carro-->
    <ion-row *ngIf="carros.length == 0">

      <ion-col>
        <h2>Você ainda não possui carros. Cadastre agora!</h2>
        <ion-button (click)="cadastrarCarro();" expand="full">Cadastrar Carro</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>